footer.footer
  .footer__container
    .footer__header 
      a.footer__logo.logo(href="home.html")
        span.logo__l l
        span.logo__f f
      .footer__requisites(data-da=`.footer__container,${992/16},last`)
        .footer__title реквизиты
        address.footer__address.footer__subtitle ООО «Ловефлове» 220035, Республика Беларусь, г. Минск, ул. Тимирязева д. 67, комн. 112 (пом.11) УНП 193263781, р/с BY55MTBK30120001093300096372 ЗАО «МТБанк», БИК MTBKBY22 220007, г. Минск, улица Толстого
    .footer__body 
      ul.footer__list 
        li.footer__item.footer__item_title 
          a.footer__title(href="#") Каталог
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Популярное
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Сухоцветы
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Букеты роз
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Композиции из цветов
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Индивидуальный букет
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Букет на праздник
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Упаковка подарков
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Шары
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Открытки
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Конверты
      ul.footer__list 
        li.footer__item.footer__item_title 
          a.footer__title(href="#") Букет
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для девушки
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для мужчины
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для жены
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для мамы
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для коллеги
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для начальника
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для дочки
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для детей
        li.footer__item.footer__item_subtitle 
          a.footer__subtitle(href="#") Для женщины
      ul.footer__list 
        li.footer__item.footer__item_title 
          a.footer__title(href="#") Доставка и оплата 
        li.footer__item.footer__item_title 
          a.footer__title(href="about.html") О нас
        li.footer__item.footer__item_title 
          a.footer__title(href="#") FAQ
        li.footer__item.footer__item_title 
          a.footer__title(href="#") Контакты
        li.footer__item.footer__item_title 
          a.footer__title(href="#") для корпоративных клиентов
    address.footer__contacts 
      .footer__address.address
        a.address__title(href='mailto:zakaz@loverflower.by') zakaz@loverflower.by
        .address__sub-title Доставка 24/7 по договоренности с оператором
      .footer__address.address 
        a.address__title(href='https://goo.gl/maps/GNPbidQCLpQMcjcJ8' target='_blank') ул. Тимирязева 67
        .address__sub-title 
          |10:00 до 21:00
          br
          |без выходных
      .footer__address.address
        a.address__title(href='tel:+375291136969') +375 (29) 113-69-69
        .address__sub-title прием звонков круглосуточно
      .footer__socials.socials
        a.socials__item(href="https://www.instagram.com/" aria-label='instagram' target='_blank')
          svg.instagram(style=`fill: currentColor;` aria-hidden)
            use(xlink:href=`img/icons/icons.svg#svg-instagram`)
        a.socials__item(href="https://www.whatsapp.com/" aria-label='whatsapp' target='_blank')
          svg.whatsapp(style=`fill: currentColor;` aria-hidden)
            use(xlink:href=`img/icons/icons.svg#svg-whatsapp`)
        a.socials__item(href="tel:+375291136969" aria-label='phone')
          svg.phone-icon(style=`fill: currentColor;` aria-hidden)
            use(xlink:href=`img/icons/icons.svg#svg-phone-icon`)