header.header
  .header__container 
    a.header__logo.logo(href="#")
      span.logo__i i
      span.logo__f f
    nav.header__menu.menu
      ul.menu__list
        li.menu__item
          a(href='#') Каталог
        li.menu__item
          a(href='#') Доставка и оплата 
        li.menu__item
          a(href='#') О нас
        li.menu__item
          a(href='#') Контакты
        li.menu__item
          a(href='#') FAQ
          +svg('phone', '30', '30', 'white', 'none')
    