header.header
  .header__container 
    a.header__logo.logo(href="#")
      span.logo__l l
      span.logo__f f
    nav.header__menu.menu
      ul.menu__list
        li.menu__item
          a.menu__link(href='#') Каталог
        li.menu__item
          a.menu__link(href='#') Доставка и оплата 
        li.menu__item
          a.menu__link(href='#') О нас
        li.menu__item
          a.menu__link(href='#') Контакты
        li.menu__item
          a.menu__link(href='#') FAQ
    .header__search
      form.search-header(action="#")
        button.search-header__btn(type="submit")
          +svg('search', '18', '18', 'currentColor', 'none')
        input.search-header__input(type="search" placeholder='Введите свой запрос')