section.bouquets
  .bouquets__container
    h2.bouquets__title
      |популярные
      br
      span букеты
    p.bouquets__text.text Самые любимые композиции наших клиентов
    .bouquets__slider.slider-bouquets
      .bouquets__swiper.slider-bouquets__swiper
        .bouquets__slide.slider-bouquets__slide
          .slider-bouquets__img-block 
            .slider-bouquets__label.relevance-label new
            img.swiper-lazy(data-src='@img/bouquets/1.jpg' alt='Букет Лучший День',)
          .slider-bouquets__title лучший день
          .slider-bouquets__price 
            |167.000 ₽
            s 187.000 ₽
          button.slider-bouquets__btn-cart.btn-cart(type='button') В корзину
        .bouquets__slide.slider-bouquets__slide
          .slider-bouquets__img-block 
            .slider-bouquets__label.relevance-label new
            img.swiper-lazy(data-src='@img/bouquets/1.jpg' alt='Букет Лучший День',)
          .slider-bouquets__title лучший день
          .slider-bouquets__price 
            |167.000 ₽
            s 187.000 ₽
          button.slider-bouquets__btn-cart.btn-cart(type='button') В корзину
        .bouquets__slide.slider-bouquets__slide
          .slider-bouquets__img-block 
            .slider-bouquets__label.relevance-label new
            img.swiper-lazy(data-src='@img/bouquets/1.jpg' alt='Букет Лучший День',)
          .slider-bouquets__title лучший день
          .slider-bouquets__price 
            |167.000 ₽
            s 187.000 ₽
          button.slider-bouquets__btn-cart.btn-cart(type='button') В корзину
        .bouquets__slide.slider-bouquets__slide
          .slider-bouquets__img-block 
            .slider-bouquets__label.relevance-label new
            img.swiper-lazy(data-src='@img/bouquets/1.jpg' alt='Букет Лучший День',)
          .slider-bouquets__title лучший день
          .slider-bouquets__price 
            |167.000 ₽
            s 187.000 ₽
          button.slider-bouquets__btn-cart.btn-cart(type='button') В корзину
        .bouquets__slide.slider-bouquets__slide
          .slider-bouquets__img-block 
            .slider-bouquets__label.relevance-label new
            img.swiper-lazy(data-src='@img/bouquets/1.jpg' alt='Букет Лучший День',)
          .slider-bouquets__title лучший день
          .slider-bouquets__price 
            |167.000 ₽
            s 187.000 ₽
          button.slider-bouquets__btn-cart.btn-cart(type='button') В корзину
        .bouquets__slide.slider-bouquets__slide
          .slider-bouquets__img-block 
            .slider-bouquets__label.relevance-label new
            img.swiper-lazy(data-src='@img/bouquets/1.jpg' alt='Букет Лучший День',)
          .slider-bouquets__title лучший день
          .slider-bouquets__price 
            |167.000 ₽
            s 187.000 ₽
          button.slider-bouquets__btn-cart.btn-cart(type='button') В корзину
      .bouquets-button-prev.swiper-button-prev
      .bouquets-button-next.swiper-button-next
    a.bouquets__link.view-catalog(href="#")
      |смотреть весь каталог
      +svg('arrow-right', '40', '10', 'currentColor', 'none')