section.catalog
  span.catalog__elipse_darkraspberry.elipse-blur.elipse-blur_darkraspberry
  .catalog__container
    h2.catalog__title каталог
    .catalog__items 
      .catalog__item 
        p.catalog__text.text У нас самый большой выбор цветов, букетов, открыток и подарков. Мы всегда поможем вам подобрать букет для вашего события, наш менеджер вас проконсультирует и поможет определиться с выбором
        p.catalog__text.text Ознакомьтесь с нашими разделами каталога
      .catalog__item.item-catalog(data-text='букеты')
        .item-catalog__title готовые букеты из сухоцветов
        ul.item-catalog__list 
          li.item-catalog__item букеты
          li.item-catalog__item для интерьера
          li.item-catalog__item Композиции
        a.item-catalog__link.view-catalog(href="#") смотреть каталог
      .catalog__item.item-catalog(data-text='цветы')
        .item-catalog__title Цветы
        ul.item-catalog__list 
          li.item-catalog__item Сборные букеты
          li.item-catalog__item Монобукеты
          li.item-catalog__item Композиции из цветов
          li.item-catalog__item розы
          li.item-catalog__item свадебные
        a.item-catalog__link.view-catalog(href="#") смотреть каталог
      .catalog__item.item-catalog(data-text='дополнительно')
        .item-catalog__title дополнительно
        ul.item-catalog__list 
          li.item-catalog__item шары
          li.item-catalog__item игрушки
          li.item-catalog__item открытки
          li.item-catalog__item упаковка
        a.item-catalog__link.view-catalog(href="#") смотреть каталог
  span.catalog__elipse_turquoise.elipse-blur.elipse-blur_turquoise