section.occasion 
  .occasion__container
    h2.occasion__title 
      |особенный
      span повод?
    .occasion__wrapper 
      .occasion__info 
        p.occasion__text Мы готовы прийти на помощь и собрать уникальный букет, на любой вкус, бюджет и для любого события по вашему индивидуальному заказу.
        ul.occasion__list 
          li.occasion__list-item учтем даже самые изысканные пожелания;
          li.occasion__list-item подберем свежайшие цветы и сделаем уникальный букет или композицию;
          li.occasion__list-item оплатить можно при получении или онлайн на сайте
        a.occasion__btn.btn-turquoise(href="#") 
          span 
            +svg('arrow-bottom-oblique', '20', '60', '#43FFD2', 'none')
          |собрать индивидуальный букет
      .occasion__items
        .occasion__item
          img._lazy(data-src='@img/occasion/1.jpg', alt='Подарки',)
        .occasion__item
          img._lazy(data-src='@img/occasion/2.jpg', alt='Новогодний венок',)
        .occasion__item
          img._lazy(data-src='@img/occasion/3.jpg', alt='Открытка',)
        .occasion__item
          img._lazy(data-src='@img/occasion/4.jpg', alt='Фрукты',)



