section.order 
  .order__container
    h2.order__title
      |Как сделать
      br
      |заказ
    .order__items 
      .order__item 
        h3.order__item-title 1 шаг
        p.order__item-text Выберите какие цветы или подарки вы хотите купить
      .order__item 
        h3.order__item-title 2 шаг
        p.order__item-text Оформите заказ, и мы отправим вам подтверждение на электронную почту, а так же менеджер свяжется с вами по телефону или в WhatsApp
      .order__item 
        h3.order__item-title 3 шаг
        p.order__item-text Наши флористы бережно подойдут к созданию букета цветов в самом начале дня или накануне
      .order__item 
        h3.order__item-title 4 шаг
        p.order__item-text Один из наших курьеров или партнёров доставит ваш заказ по указанному адресу. Мы отправим вам сообщение в Whats App как только заказ будет доставлен
      .order__item 
        h3.order__item-title 5 шаг
        p.order__item-text Наслаждайтесь цветами , если вы заказали их для дома или любовью, которой поделились, если вы заказали для друга