section.order 
  .order__container
    h2.order__title.title_100
      |Как сделать
      br
      |заказ
    ol.order__items
      li.order__item Выберите какие цветы или подарки вы хотите купить
      li.order__item Оформите заказ, и мы отправим вам подтверждение на электронную почту, а так же менеджер свяжется с вами по телефону или в WhatsApp
      li.order__item Наши флористы бережно подойдут к созданию букета цветов в самом начале дня или накануне
      li.order__item Один из наших курьеров или партнёров доставит ваш заказ по указанному адресу. Мы отправим вам сообщение в Whats App как только заказ будет доставлен
      li.order__item Наслаждайтесь цветами , если вы заказали их для дома или любовью, которой поделились, если вы заказали для друга
    .order__title-signature.title-signature
      |lover
      br
      span flower