section.welcome(style='background: url("@img/flowers-bg.jpg") center / cover no-repeat;')
  .welcome__container
    h1.welcome__title
      |lover 
      br
      |flower
    p.welcome__text.text Создаём для тех, кто ценит свежесть и изящество цветка
    a.welcome__btn.btn-turquoise(href="#") смотреть Каталог