@charset "UTF-8";

@font-face {
  font-family: Cormorant;
  font-display: swap;
  src: url("../fonts/Cormorant-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cormorant;
  font-display: swap;
  src: url("../fonts/Cormorant-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Relative;
  font-display: swap;
  src: url("../fonts/Relative-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --colorBlack: #040A0A;
  --colorBlackRGB: rgba(0, 0, 0, 0.2);
  --colorWhite: #fff;
  --colorTurquoise: #43FFD2;
  --colorDarkRaspberry: #7D2253;
  --colorSkyMagenta: #CC6699;
  --borderRadius: 20px;
  --blur: 20px;
  --ffamilyOswald: "Oswald", sans-serif;
  --ffamilyCormorant: "Cormorant", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:focus {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  line-height: 1;
  font-family: "Oswald", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Oswald", sans-serif;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: unset;
}

body {
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.js-focus-visible :focus-visible {
  -webkit-transition: outline 0.1s ease 0s;
  -o-transition: outline 0.1s ease 0s;
  transition: outline 0.1s ease 0s;
  outline: 0.1875rem solid var(--colorDarkRaspberry);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.swiper {
  overflow: hidden;
  position: relative;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

a[href]:not(.view-catalog, .btn-turquoise) {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

a.view-catalog {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

h1 {
  font-weight: 400;
}

h1,
h2 {
  font-family: var(--ffamilyCormorant);
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

@supports (font-size: clamp( 2.5rem , 1.0185185185rem  +  7.4074074074vw , 6.25rem )) {
  h2 {
    font-size: clamp( 2.5rem , 1.0185185185rem  +  7.4074074074vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.0185185185rem  +  7.4074074074vw , 6.25rem )) {
  h2 {
    font-size: calc(2.5rem + 3.75 * (100vw - 20rem) / 50.625);
  }
}

.title-signature {
  position: absolute;
  font-family: Relative;
  font-weight: 400;
  line-height: 0.4375;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@supports (font-size: clamp( 3.75rem , 1.2808641975rem  +  12.3456790123vw , 10rem )) {
  .title-signature {
    font-size: clamp( 3.75rem , 1.2808641975rem  +  12.3456790123vw , 10rem );
  }
}

@supports not (font-size: clamp( 3.75rem , 1.2808641975rem  +  12.3456790123vw , 10rem )) {
  .title-signature {
    font-size: calc(3.75rem + 6.25 * (100vw - 20rem) / 50.625);
  }
}

.menu-open .overlay {
  opacity: 1;
  visibility: visible;
}

.address__title {
  color: var(--colorTurquoise);
  letter-spacing: 0.1em;
}

.address__sub-title {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--colorWhite);
  margin-top: 0.5em;
}

.socials {
  display: flex;
}

.socials__item {
  display: flex;
  color: var(--colorTurquoise);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
}

@supports ((-webkit-backdrop-filter: blur(var(--blur))) or (backdrop-filter: blur(var(--blur)))) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(var(--blur));
            backdrop-filter: blur(var(--blur));
  }
}

@supports not ((-webkit-backdrop-filter: blur(var(--blur))) or (backdrop-filter: blur(var(--blur)))) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.phone {
  display: flex;
  align-items: center;
  color: var(--colorTurquoise);
}

.logo {
  position: relative;
  display: block;
  flex: 0 0 2.125rem;
  height: 3.75rem;
  font-family: var(--ffamilyCormorant);
  font-weight: 400;
  text-transform: uppercase;
}

.logo__f {
  position: absolute;
}

.logo__l {
  font-size: 3.75rem;
  color: #8A8686;
}

.logo__f {
  left: 23.5294117647%;
  top: 25%;
  font-size: 3.125rem;
}

.elipse-blur {
  position: absolute;
  z-index: -1;
  border-radius: 100px/50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.elipse-blur_turquoise {
  background: #249479;
}

.elipse-blur_darkraspberry {
  background: #7D2253;
}

.text {
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.875rem , 0.7268518519rem  +  0.7407407407vw , 1.25rem )) {
  .text {
    font-size: clamp( 0.875rem , 0.7268518519rem  +  0.7407407407vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7268518519rem  +  0.7407407407vw , 1.25rem )) {
  .text {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 50.625);
  }
}

.btn-turquoise {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #000;
  background-color: var(--colorTurquoise);
  text-transform: uppercase;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.btn-turquoise:active {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  background-color: var(--colorDarkRaspberry);
  -webkit-box-shadow: inset 0px 0px 10px #1B000E;
          box-shadow: inset 0px 0px 10px #1B000E;
}

.cart-btn {
  position: relative;
}

.cart-btn::after {
  content: "5";
  position: absolute;
  top: -20%;
  right: -40.9090909091%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorBlack);
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--colorTurquoise);
}

.btn-cart {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: var(--colorWhite);
  border: 0.5px solid var(--colorWhite);
  text-transform: uppercase;
  -webkit-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border 0.3s;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.btn-cart.focus-visible {
  border: 0.5px solid transparent;
  outline: 0.5px solid var(--colorTurquoise);
}

.btn-cart:active {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
  background-color: var(--colorTurquoise);
  -webkit-box-shadow: inset 0px 0px 10px #01281F;
          box-shadow: inset 0px 0px 10px #01281F;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(var(--blur));
          backdrop-filter: blur(var(--blur));
}

.policy {
  display: none;
}

.view-catalog {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important;
  text-transform: uppercase;
  color: var(--colorSkyMagenta);
  padding: 0.4166666667em;
  margin: -0.4166666667em;
}

.relevance-label {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--colorBlack);
  text-transform: uppercase;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  letter-spacing: 0.02em;
}

.relevance-label_new {
  background-color: #D978AC;
}

.relevance-label_sale {
  background-color: #31985A;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 10px 0;
}

.header._header-scroll {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}

.header._header-show {
  position: fixed;
  background-color: var(--colorBlack);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header._header-show .header__phone {
  display: block;
}

.header._header-show .cart-btn {
  display: none;
}

.header._header-show .header__cart {
  display: block;
}

.header__container {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@supports (gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem )) {
  .header__container {
    gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem )) {
  .header__container {
    gap: calc(1.875rem + 1.25 * (100vw - 62rem) / 8.625);
  }
}

.header__title {
  display: none;
}

.header__logo {
  margin-top: -10px;
  margin-right: 30px;
  line-height: 1;
}

.header__search {
  flex: 0 1 200px;
}

.header__phone {
  display: none;
  flex: 0 0 auto;
}

.header__phone > .phone2 {
  margin: 0 0.7142857143em 0 0;
}

.header__cart {
  display: none;
  margin-right: 9px;
}

.menu-open .header__menu {
  left: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu {
  flex: 0 0 auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

@supports ((-moz-column-gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem )) or (column-gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem );
       -moz-column-gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem );
            column-gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem )) or (column-gap: clamp( 1.875rem , -7.1105072464rem  +  14.4927536232vw , 3.125rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.875rem + 1.25 * (100vw - 62rem) / 8.625);
       -moz-column-gap: calc(1.875rem + 1.25 * (100vw - 62rem) / 8.625);
            column-gap: calc(1.875rem + 1.25 * (100vw - 62rem) / 8.625);
  }
}

.menu__item {
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.menu__link {
  padding: 5px 0;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.search-header {
  display: flex;
  position: relative;
  align-items: center;
}

.search-header__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-left: -5px;
}

.search-header__input {
  flex-grow: 1;
  padding: 3px 0 3px 1.875rem;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  caret-color: #006BA9;
  text-transform: uppercase;
}

.search-header__input.focus-visible {
  outline: none;
  border-bottom: 1px solid #555555;
}

.search-header__input::-webkit-input-placeholder {
  text-transform: none;
  letter-spacing: 0.02em;
}

.search-header__input::-moz-placeholder {
  text-transform: none;
  letter-spacing: 0.02em;
}

.search-header__input:-ms-input-placeholder {
  text-transform: none;
  letter-spacing: 0.02em;
}

.search-header__input::-ms-input-placeholder {
  text-transform: none;
  letter-spacing: 0.02em;
}

.search-header__input::placeholder {
  text-transform: none;
  letter-spacing: 0.02em;
}

.search-header__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/close.svg") no-repeat 50% 50%;
}

.menu-open .burger {
  -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
          transform: translateX(200px);
  z-index: 6;
}

.burger {
  display: none;
}

.footer {
  background-color: var(--colorBlack);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  text-transform: uppercase;
}

.footer__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -2.1875rem;
}

.footer__title {
  font-weight: 700;
  color: var(--colorTurquoise);
}

.footer__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__address:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__subtitle {
  font-weight: 300;
  font-size: 0.75rem;
}

.footer__body {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

@supports (gap: clamp( 0.3125rem , -0.0578703704rem  +  1.8518518519vw , 1.25rem )) {
  .footer__body {
    gap: clamp( 0.3125rem , -0.0578703704rem  +  1.8518518519vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.3125rem , -0.0578703704rem  +  1.8518518519vw , 1.25rem )) {
  .footer__body {
    gap: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 50.625);
  }
}

.footer__item_title:not(:last-child) {
  margin-bottom: 0.625rem;
}

@supports (margin-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
  .footer__item_title:not(:first-child) {
    margin-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem );
  }
}

@supports not (margin-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
  .footer__item_title:not(:first-child) {
    margin-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 50.625);
  }
}

.footer__socials {
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.footer__socials > .socials__item {
  width: 1.5rem;
  height: 1.5rem;
}

.welcome {
  position: relative;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 10, 10, 0)), to(rgba(4, 10, 10, 0.8))), url("../img/flowers-bg.jpg") bottom/cover no-repeat;
  background: -o-linear-gradient(top, rgba(4, 10, 10, 0) 0%, rgba(4, 10, 10, 0.8) 100%), url("../img/flowers-bg.jpg") bottom/cover no-repeat;
  background: linear-gradient(180deg, rgba(4, 10, 10, 0) 0%, rgba(4, 10, 10, 0.8) 100%), url("../img/flowers-bg.jpg") bottom/cover no-repeat;
}          .webp .welcome {            background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 10, 10, 0)), to(rgba(4, 10, 10, 0.8))), url("../img/flowers-bg.webp") bottom/cover no-repeat;            background: -o-linear-gradient(top, rgba(4, 10, 10, 0) 0%, rgba(4, 10, 10, 0.8) 100%), url("../img/flowers-bg.webp") bottom/cover no-repeat;            background: linear-gradient(180deg, rgba(4, 10, 10, 0) 0%, rgba(4, 10, 10, 0.8) 100%), url("../img/flowers-bg.webp") bottom/cover no-repeat          }                  .avif .welcome {            background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 10, 10, 0)), to(rgba(4, 10, 10, 0.8))), url("../img/flowers-bg.avif") bottom/cover no-repeat;            background: -o-linear-gradient(top, rgba(4, 10, 10, 0) 0%, rgba(4, 10, 10, 0.8) 100%), url("../img/flowers-bg.avif") bottom/cover no-repeat;            background: linear-gradient(180deg, rgba(4, 10, 10, 0) 0%, rgba(4, 10, 10, 0.8) 100%), url("../img/flowers-bg.avif") bottom/cover no-repeat          }        

.welcome::before,
.welcome::after {
  content: "";
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.welcome::before {
  width: 18.6979166667%;
  height: 25.6770833333%;
  left: 8.3854166667%;
  top: 34.6354166667%;
  background: #249479;
  -webkit-transform: rotate(41.6deg);
      -ms-transform: rotate(41.6deg);
          transform: rotate(41.6deg);
}

.welcome::after {
  width: 24.5833333333%;
  height: 10.9895833333%;
  top: 31.25%;
  right: 10.4166666667%;
  background: #7D2253;
  -webkit-transform: rotate(-43.21deg);
      -ms-transform: rotate(-43.21deg);
          transform: rotate(-43.21deg);
}

.welcome__title-signature {
  right: 1.25rem;
  bottom: 1.25rem !important;
}

.welcome__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.125rem;
}

@supports (padding-top: clamp( 1.25rem , -1.9598765432rem  +  16.049382716vw , 9.375rem )) {
  .welcome__container {
    padding-top: clamp( 1.25rem , -1.9598765432rem  +  16.049382716vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -1.9598765432rem  +  16.049382716vw , 9.375rem )) {
  .welcome__container {
    padding-top: calc(1.25rem + 8.125 * (100vw - 20rem) / 50.625);
  }
}

.welcome__title {
  letter-spacing: 0.2em;
  line-height: 0.75;
}

@supports (font-size: clamp( 3.125rem , -0.5787037037rem  +  18.5185185185vw , 12.5rem )) {
  .welcome__title {
    font-size: clamp( 3.125rem , -0.5787037037rem  +  18.5185185185vw , 12.5rem );
  }
}

@supports not (font-size: clamp( 3.125rem , -0.5787037037rem  +  18.5185185185vw , 12.5rem )) {
  .welcome__title {
    font-size: calc(3.125rem + 9.375 * (100vw - 20rem) / 50.625);
  }
}

.welcome__btn {
  padding: 16px 50px;
}

.welcome__address:not(:last-child) {
  margin-bottom: 1.25em;
}

.welcome__wrapper {
  margin-top: 1.25em;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.welcome__wrapper-body {
  flex: 1 0 auto;
}

.welcome__wrapper-footer:not(:last-child) {
  margin-bottom: 1.25em;
}

.welcome__socials {
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.25rem;
  margin-top: 0.625em;
}

.welcome__wrapper-phone {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--colorTurquoise);
}

.welcome__phone {
  margin-bottom: 0.4375em;
}

.welcome__call {
  text-transform: uppercase;
  padding: 12px 20px;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.welcome__call .phone2 {
  margin-right: 0.5em;
}

.welcome__cart {
  margin-right: 5px;
}

.welcome__cart.cart-btn::after {
  top: -13.3333333333%;
  right: -26.6666666667%;
}

.menu-open .welcome__cart {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.catalog {
  position: relative;
  margin-top: 6.25rem;
}

.catalog::before,
.catalog::after {
  content: "";
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: -1;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  -webkit-transform: rotate(32.83deg);
      -ms-transform: rotate(32.83deg);
          transform: rotate(32.83deg);
}

.catalog::before {
  width: 44.1875rem;
  height: 14.75rem;
  left: -1.0416666667%;
  top: 55.46875%;
  background: #7D2253;
}

.catalog::after {
  width: 54.9375rem;
  height: 14.375rem;
  top: 57.2916666667%;
  right: 5.2083333333%;
  background: #249479;
}

.catalog__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
  margin-top: 1.25rem;
}

.catalog__item:nth-child(1) {
  -webkit-transform: translatex(100px);
      -ms-transform: translatex(100px);
          transform: translatex(100px);
}

.catalog__item:nth-child(2) {
  align-self: end;
}

.catalog__item:nth-child(4) {
  align-self: end;
}

.catalog__text {
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.catalog__text:not(:last-child) {
  margin-bottom: 1.5em;
}

.item-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.item-catalog__title {
  font-weight: 700;
  max-width: 16.9375rem;
  line-height: 1.4666666667;
  color: var(--colorTurquoise);
  margin-left: 0.3333333333em;
  margin-bottom: 0.3333333333em;
}

@supports (font-size: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
  .item-catalog__title {
    font-size: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
  .item-catalog__title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 50.625);
  }
}

.item-catalog__item {
  display: flex;
  align-items: center;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.875rem , 0.7762345679rem  +  0.4938271605vw , 1.125rem )) {
  .item-catalog__item {
    font-size: clamp( 0.875rem , 0.7762345679rem  +  0.4938271605vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7762345679rem  +  0.4938271605vw , 1.125rem )) {
  .item-catalog__item {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 50.625);
  }
}

.item-catalog__item::before {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--colorWhite);
  border-radius: 50%;
  margin-right: 0.6666666667em;
}

.item-catalog__link {
  margin-top: 1.6666666667em;
}

@supports (margin-top: clamp( 6.25rem , 3.7808641975rem  +  12.3456790123vw , 12.5rem )) {
  .bouquets {
    margin-top: clamp( 6.25rem , 3.7808641975rem  +  12.3456790123vw , 12.5rem );
  }
}

@supports not (margin-top: clamp( 6.25rem , 3.7808641975rem  +  12.3456790123vw , 12.5rem )) {
  .bouquets {
    margin-top: calc(6.25rem + 6.25 * (100vw - 20rem) / 50.625);
  }
}

.bouquets__title {
  max-width: 7.8em;
}

.bouquets__title span {
  display: block;
  text-align: right;
}

.bouquets__text {
  text-align: center;
  margin-top: 0.5em;
}

.bouquets__slide {
  margin-top: 10px;
}

.bouquets__link {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@supports (margin-top: clamp( 2.5rem , 1.512345679rem  +  4.9382716049vw , 5rem )) {
  .bouquets__link {
    margin-top: clamp( 2.5rem , 1.512345679rem  +  4.9382716049vw , 5rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.512345679rem  +  4.9382716049vw , 5rem )) {
  .bouquets__link {
    margin-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 50.625);
  }
}

.bouquets__link .arrow-right {
  margin-left: 5px;
}

.slider-bouquets {
  position: relative;
  max-width: 1310px;
  margin: 0 auto 0 auto;
}

@supports (margin-top: clamp( 1.5625rem , 0.2044753086rem  +  6.7901234568vw , 5rem )) {
  .slider-bouquets {
    margin-top: clamp( 1.5625rem , 0.2044753086rem  +  6.7901234568vw , 5rem );
  }
}

@supports not (margin-top: clamp( 1.5625rem , 0.2044753086rem  +  6.7901234568vw , 5rem )) {
  .slider-bouquets {
    margin-top: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 50.625);
  }
}

.slider-bouquets__wrapper {
  margin: 0 auto;
}

.slider-bouquets__slide {
  max-width: 350px !important;
  text-transform: uppercase;
}

.slider-bouquets__img-block {
  position: relative;
}

.slider-bouquets__title {
  font-size: 1.25rem;
  margin-top: 10px;
}

.slider-bouquets__price {
  font-weight: 700;
  margin-top: 10px;
}

.slider-bouquets__price s {
  font-weight: 300;
  color: #939393;
  margin-left: 0.3571428571em;
}

.slider-bouquets__btn-cart {
  margin-top: 20px;
  padding: 16px 76px;
}

.bouquets-button-prev,
.bouquets-button-next {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 2;
  cursor: pointer;
  padding: 10px 5px;
  color: var(--colorTurquoise);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.bouquets-button-next {
  right: 0;
}

.order {
  position: relative;
  min-height: 52.8125rem;
}

@supports (margin-top: clamp( 6.25rem , 5.0154320988rem  +  6.1728395062vw , 9.375rem )) {
  .order {
    margin-top: clamp( 6.25rem , 5.0154320988rem  +  6.1728395062vw , 9.375rem );
  }
}

@supports not (margin-top: clamp( 6.25rem , 5.0154320988rem  +  6.1728395062vw , 9.375rem )) {
  .order {
    margin-top: calc(6.25rem + 3.125 * (100vw - 20rem) / 50.625);
  }
}

.order::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  background: url("../img/order-bg.png") left/contain no-repeat;
}          .webp .order::before {            background: url("../img/order-bg.webp") left/contain no-repeat          }                  .avif .order::before {            background: url("../img/order-bg.avif") left/contain no-repeat          }        

@supports (width: clamp( 15.5625rem , 7.8341049383rem  +  38.6419753086vw , 35.125rem )) {
  .order::before {
    width: clamp( 15.5625rem , 7.8341049383rem  +  38.6419753086vw , 35.125rem );
  }
}

@supports not (width: clamp( 15.5625rem , 7.8341049383rem  +  38.6419753086vw , 35.125rem )) {
  .order::before {
    width: calc(15.5625rem + 19.5625 * (100vw - 20rem) / 50.625);
  }
}

@supports (height: clamp( 23.375rem , 11.7453703704rem  +  58.1481481481vw , 52.8125rem )) {
  .order::before {
    height: clamp( 23.375rem , 11.7453703704rem  +  58.1481481481vw , 52.8125rem );
  }
}

@supports not (height: clamp( 23.375rem , 11.7453703704rem  +  58.1481481481vw , 52.8125rem )) {
  .order::before {
    height: calc(23.375rem + 29.4375 * (100vw - 20rem) / 50.625);
  }
}

.order__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: uppercase;
}

.order__title-signature {
  bottom: 0;
  line-height: 44%;
  color: #1F3A3A;
  -webkit-transform: rotate(-11.95deg);
      -ms-transform: rotate(-11.95deg);
          transform: rotate(-11.95deg);
}

@supports (padding-left: clamp( 0.625rem , -0.362654321rem  +  4.9382716049vw , 3.125rem )) {
  .order__title-signature span {
    padding-left: clamp( 0.625rem , -0.362654321rem  +  4.9382716049vw , 3.125rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -0.362654321rem  +  4.9382716049vw , 3.125rem )) {
  .order__title-signature span {
    padding-left: calc(0.625rem + 2.5 * (100vw - 20rem) / 50.625);
  }
}

.order__title {
  align-self: flex-start;
}

.order__items {
  position: relative;
  display: grid;
  gap: 2.5rem 6.25rem;
  grid-template-columns: repeat(2, minmax(12.5rem, 17.8125rem));
  margin-top: 3.4375rem;
  counter-reset: ol-numbers;
}

@supports (row-gap: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
  .order__items {
    row-gap: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
  .order__items {
    row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 50.625);
  }
}

.order__item {
  position: relative;
  padding-top: 3.5rem;
}

.order__item::before {
  content: counter(ol-numbers) " " "шаг";
  counter-increment: ol-numbers;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.4666666667;
  color: var(--colorSkyMagenta);
}

.order__item:nth-child(1) {
  position: relative;
}

.order__item:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 4.0625rem;
  height: 0.625rem;
  background-color: var(--colorSkyMagenta);
}

.order__item:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.order__item:nth-child(3) {
  grid-column: 2/1;
  grid-row: 3;
}

.occasion {
  position: relative;
}

@supports (margin-top: clamp( 6.25rem , 5.0154320988rem  +  6.1728395062vw , 9.375rem )) {
  .occasion {
    margin-top: clamp( 6.25rem , 5.0154320988rem  +  6.1728395062vw , 9.375rem );
  }
}

@supports not (margin-top: clamp( 6.25rem , 5.0154320988rem  +  6.1728395062vw , 9.375rem )) {
  .occasion {
    margin-top: calc(6.25rem + 3.125 * (100vw - 20rem) / 50.625);
  }
}

.occasion::after {
  content: "";
  display: block;
  position: absolute;
  width: 18.4375%;
  height: 45.5%;
  bottom: 30%;
  right: 0;
  z-index: -1;
  background: #7D2253;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  -webkit-transform: rotate(32.83deg);
      -ms-transform: rotate(32.83deg);
          transform: rotate(32.83deg);
}

@supports (max-width: clamp( 16.5rem , 3.9320987654rem  +  62.8395061728vw , 48.3125rem )) {
  .occasion__title {
    max-width: clamp( 16.5rem , 3.9320987654rem  +  62.8395061728vw , 48.3125rem );
  }
}

@supports not (max-width: clamp( 16.5rem , 3.9320987654rem  +  62.8395061728vw , 48.3125rem )) {
  .occasion__title {
    max-width: calc(16.5rem + 31.8125 * (100vw - 20rem) / 50.625);
  }
}

.occasion__title span {
  position: relative;
  display: block;
  text-align: right;
}

.occasion__title span::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  border: 1px solid var(--colorSkyMagenta);
}

@supports (left: clamp( 0.0000000625rem , -2.4691357153rem  +  12.3456788889vw , 6.25rem )) {
  .occasion__title span::before {
    left: clamp( 0.0000000625rem , -2.4691357153rem  +  12.3456788889vw , 6.25rem );
  }
}

@supports not (left: clamp( 0.0000000625rem , -2.4691357153rem  +  12.3456788889vw , 6.25rem )) {
  .occasion__title span::before {
    left: calc(0.0000000625rem + 6.2499999375 * (100vw - 20rem) / 50.625);
  }
}

@supports (width: clamp( 6rem , 2.0740740741rem  +  19.6296296296vw , 15.9375rem )) {
  .occasion__title span::before {
    width: clamp( 6rem , 2.0740740741rem  +  19.6296296296vw , 15.9375rem );
  }
}

@supports not (width: clamp( 6rem , 2.0740740741rem  +  19.6296296296vw , 15.9375rem )) {
  .occasion__title span::before {
    width: calc(6rem + 9.9375 * (100vw - 20rem) / 50.625);
  }
}

.occasion__wrapper {
  display: flex;
  margin-top: 1.875rem;
  gap: 1.25rem;
}

@supports (margin-left: clamp( 0.0000000625rem , -2.4691357153rem  +  12.3456788889vw , 6.25rem )) {
  .occasion__wrapper {
    margin-left: clamp( 0.0000000625rem , -2.4691357153rem  +  12.3456788889vw , 6.25rem );
  }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.4691357153rem  +  12.3456788889vw , 6.25rem )) {
  .occasion__wrapper {
    margin-left: calc(0.0000000625rem + 6.2499999375 * (100vw - 20rem) / 50.625);
  }
}

.occasion__text {
  max-width: 15.9375rem;
}

.occasion__list {
  text-transform: uppercase;
}

@supports (margin-top: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
  .occasion__list {
    margin-top: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem );
  }
}

@supports not (margin-top: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
  .occasion__list {
    margin-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 50.625);
  }
}

.occasion__list-item {
  position: relative;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
  .occasion__list-item:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
  .occasion__list-item:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 50.625);
  }
}

.occasion__list-item::before {
  content: "";
  position: absolute;
  left: -0.9375rem;
  top: 0.625rem;
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--colorWhite);
  border-radius: 50%;
  margin-right: 0.6666666667em;
}

.occasion__btn {
  position: relative;
  display: block;
  margin-top: 2.5rem;
  max-width: 15.9375rem;
  padding: 16px 17px;
}

.occasion__btn span {
  position: absolute;
  top: -2.1875rem;
  color: var(--colorTurquoise);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.occasion__items {
  position: relative;
  z-index: -1;
  display: grid;
  grid-template-columns: 15.9375rem 10rem 15.9375rem;
  gap: 1.875rem;
}

.occasion__item img {
  border-radius: 1.5625rem;
}

.feedback {
  position: relative;
  z-index: 1;
  background: #0F2222;
}

.feedback__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}

.feedback__title span {
  display: block;
}

.form-feedback {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.form-feedback__text {
  max-width: 15.9375rem;
}

.form-feedback__text::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--colorTurquoise);
  margin-bottom: 3.125rem;
}

.form-feedback__fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 1.875rem;
}

.form-feedback__input {
  padding: 1.1875rem 1.25rem 1.25rem 1.25rem;
  background-color: transparent;
  border: 1px solid #43FFD2;
}

.form-feedback__input::-webkit-input-placeholder {
  color: #395959;
  text-transform: uppercase;
}

.form-feedback__input::-moz-placeholder {
  color: #395959;
  text-transform: uppercase;
}

.form-feedback__input:-ms-input-placeholder {
  color: #395959;
  text-transform: uppercase;
}

.form-feedback__input::-ms-input-placeholder {
  color: #395959;
  text-transform: uppercase;
}

.form-feedback__input::placeholder {
  color: #395959;
  text-transform: uppercase;
}

.form-feedback__textarea {
  resize: none;
  min-height: 7.5rem;
}

.form-feedback__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.25rem;
  padding: 16px 93px;
}

.form-feedback__agree {
  max-width: 21.375rem;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-transform: none;
  margin-top: 0.625rem;
}

.form-feedback__agree-link {
  text-decoration: underline !important;
  color: var(--colorSkyMagenta);
}

.contacts {
  position: relative;
}

.contacts__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6.25rem;
}

@supports (padding-top: clamp( 9.375rem , 8.1404320988rem  +  6.1728395062vw , 12.5rem )) {
  .contacts__container {
    padding-top: clamp( 9.375rem , 8.1404320988rem  +  6.1728395062vw , 12.5rem );
  }
}

@supports not (padding-top: clamp( 9.375rem , 8.1404320988rem  +  6.1728395062vw , 12.5rem )) {
  .contacts__container {
    padding-top: calc(9.375rem + 3.125 * (100vw - 20rem) / 50.625);
  }
}

.contacts__gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 160px);
}

@supports (gap: clamp( 0.3125rem , -0.3047839506rem  +  3.0864197531vw , 1.875rem )) {
  .contacts__gallery {
    gap: clamp( 0.3125rem , -0.3047839506rem  +  3.0864197531vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.3125rem , -0.3047839506rem  +  3.0864197531vw , 1.875rem )) {
  .contacts__gallery {
    gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 50.625);
  }
}

@supports (width: clamp( 9.1875rem , 8.8665123457rem  +  1.6049382716vw , 10rem )) {
  .contacts__gallery-item > img {
    width: clamp( 9.1875rem , 8.8665123457rem  +  1.6049382716vw , 10rem );
  }
}

@supports not (width: clamp( 9.1875rem , 8.8665123457rem  +  1.6049382716vw , 10rem )) {
  .contacts__gallery-item > img {
    width: calc(9.1875rem + 0.8125 * (100vw - 20rem) / 50.625);
  }
}

.contacts__title-signature {
  position: absolute;
  top: 130px;
  text-transform: lowercase;
}

@supports (max-width: clamp( 8.375rem , 4.1527777778rem  +  21.1111111111vw , 19.0625rem )) {
  .contacts__title-signature {
    max-width: clamp( 8.375rem , 4.1527777778rem  +  21.1111111111vw , 19.0625rem );
  }
}

@supports not (max-width: clamp( 8.375rem , 4.1527777778rem  +  21.1111111111vw , 19.0625rem )) {
  .contacts__title-signature {
    max-width: calc(8.375rem + 10.6875 * (100vw - 20rem) / 50.625);
  }
}

.contacts__title-signature::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 0.0625rem;
  background-color: var(--colorTurquoise);
}

@supports (width: clamp( 6.25rem , 0.0771604938rem  +  30.8641975309vw , 21.875rem )) {
  .contacts__title-signature::before {
    width: clamp( 6.25rem , 0.0771604938rem  +  30.8641975309vw , 21.875rem );
  }
}

@supports not (width: clamp( 6.25rem , 0.0771604938rem  +  30.8641975309vw , 21.875rem )) {
  .contacts__title-signature::before {
    width: calc(6.25rem + 15.625 * (100vw - 20rem) / 50.625);
  }
}

@supports (gap: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
  .contacts__socials {
    gap: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
  .contacts__socials {
    gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 50.625);
  }
}

@supports (width: clamp( 1.875rem , 1.6280864198rem  +  1.2345679012vw , 2.5rem )) {
  .contacts__socials > .socials__item {
    width: clamp( 1.875rem , 1.6280864198rem  +  1.2345679012vw , 2.5rem );
  }
}

@supports not (width: clamp( 1.875rem , 1.6280864198rem  +  1.2345679012vw , 2.5rem )) {
  .contacts__socials > .socials__item {
    width: calc(1.875rem + 0.625 * (100vw - 20rem) / 50.625);
  }
}

@supports (height: clamp( 1.875rem , 1.6280864198rem  +  1.2345679012vw , 2.5rem )) {
  .contacts__socials > .socials__item {
    height: clamp( 1.875rem , 1.6280864198rem  +  1.2345679012vw , 2.5rem );
  }
}

@supports not (height: clamp( 1.875rem , 1.6280864198rem  +  1.2345679012vw , 2.5rem )) {
  .contacts__socials > .socials__item {
    height: calc(1.875rem + 0.625 * (100vw - 20rem) / 50.625);
  }
}

.contacts__elipse_turquoise_1 {
  width: 15%;
  height: 20%;
  left: -10%;
  bottom: -10%;
  -webkit-transform: rotate(21deg);
      -ms-transform: rotate(21deg);
          transform: rotate(21deg);
}

.contacts__elipse_darkraspberry {
  width: 20%;
  height: 40%;
  right: -5%;
  bottom: -10%;
  -webkit-transform: rotate(32deg);
      -ms-transform: rotate(32deg);
          transform: rotate(32deg);
}

@media (min-width: 70.625em) {
  .occasion__items {
    grid-template-rows: 13.9375rem 1fr;
    -webkit-transform: translateY(-15.9375rem);
        -ms-transform: translateY(-15.9375rem);
            transform: translateY(-15.9375rem);
  }

  .occasion__item:nth-child(1) {
    grid-column: 3/3;
    grid-row: 1/1;
  }

  .occasion__item:nth-child(2) {
    grid-column: 3/3;
    grid-row: 2/2;
  }

  .occasion__item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .occasion__item:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }

  .occasion__item img {
    width: 100%;
    height: 100%;
  }

  .contacts {
    min-height: 38.6875rem;
  }

  .contacts__title-signature {
    right: 50px;
  }
}

@media (min-width: 30em) {
  .footer__list {
    flex: 0 1 10rem;
  }

  .occasion__btn span {
    left: -2.1875rem;
  }
}

@media (min-width: 48em) {
  .catalog__item:nth-child(3) {
    top: -50px;
    margin-top: 50px;
  }

  .catalog__item:nth-child(3)::before {
    left: -200px;
  }

  .catalog__item:nth-child(4)::before {
    top: auto;
    bottom: -50px;
    left: -100px;
  }

  .item-catalog::before {
    content: attr(data-text);
    position: absolute;
    z-index: -2;
    top: -40px;
    left: -50px;
    -webkit-transform: translateZ(-1px);
            transform: translateZ(-1px);
    font-size: 12.5rem;
    font-weight: 700;
    color: #0A1717;
  }

  .occasion__info {
    flex: 0 1 17.1875rem;
  }

  .feedback::before {
    content: "";
    display: block;
    position: absolute;
    top: 6.25rem;
    background: url("../img/leaves-bg.png") center/cover no-repeat;
  }          .webp .feedback::before {            background: url("../img/leaves-bg.webp") center/cover no-repeat          }                  .avif .feedback::before {            background: url("../img/leaves-bg.avif") center/cover no-repeat          }        

@supports (width: clamp( 8.328125rem , -1.5422453704rem  +  49.3518518519vw , 33.3125rem )) {
    .feedback::before {
      width: clamp( 8.328125rem , -1.5422453704rem  +  49.3518518519vw , 33.3125rem );
    }
}

@supports not (width: clamp( 8.328125rem , -1.5422453704rem  +  49.3518518519vw , 33.3125rem )) {
    .feedback::before {
      width: calc(8.328125rem + 24.984375 * (100vw - 20rem) / 50.625);
    }
}

@supports (height: clamp( 13.0625rem , -2.4189814815rem  +  77.4074074074vw , 52.25rem )) {
    .feedback::before {
      height: clamp( 13.0625rem , -2.4189814815rem  +  77.4074074074vw , 52.25rem );
    }
}

@supports not (height: clamp( 13.0625rem , -2.4189814815rem  +  77.4074074074vw , 52.25rem )) {
    .feedback::before {
      height: calc(13.0625rem + 39.1875 * (100vw - 20rem) / 50.625);
    }
}

  .feedback__elipse_turquoise {
    width: 18%;
    height: 35%;
    left: 29.1145833333%;
    top: 39.21875%;
    -webkit-transform: rotate(32deg);
        -ms-transform: rotate(32deg);
            transform: rotate(32deg);
  }

  .feedback__elipse_darkraspberry {
    width: 21.6666666667%;
    height: 32.65625%;
    left: 7.8125%;
    top: 26.0416666667%;
    -webkit-transform: rotate(-32deg);
        -ms-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }

  .feedback__title-signature {
    top: 45%;
    left: 30%;
    color: #0E2C2C;
    line-height: 37%;
    max-width: 19.0625rem;
    -webkit-transform: rotate(-18.44deg);
        -ms-transform: rotate(-18.44deg);
            transform: rotate(-18.44deg);
    text-transform: lowercase;
  }

  .feedback__title {
    max-width: 6.3em;
  }

  .feedback__title span {
    text-align: right;
  }

  .feedback__form {
    align-self: flex-end;
    -webkit-transform: translateY(-9.375rem);
        -ms-transform: translateY(-9.375rem);
            transform: translateY(-9.375rem);
    margin-bottom: -6.25rem;
  }

  .form-feedback__text {
    align-self: flex-end;
  }

  .form-feedback__fieldset {
    min-width: 27.8125rem;
  }

  .contacts__gallery::after {
    content: attr(data-text);
    position: absolute;
    z-index: -2;
    top: -20px;
    text-transform: uppercase;
    -webkit-transform: translateZ(-1px);
            transform: translateZ(-1px);
    font-size: 12.5rem;
    font-weight: 700;
    color: #0A1717;
  }
}

@media (min-width: 48em) and (min-width: 70.625em) {
  .contacts__gallery::after {
    left: -120px;
  }
}

@media (min-width: 62em) {
  .menu__item {
    border-bottom: 1px solid transparent;
  }

  .menu__item_client {
    display: none;
  }

  .footer {
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
  }

  .footer__header {
    flex: 0 1 15.25rem;
  }

  .footer__logo {
    margin-bottom: 1.875rem;
  }

  .welcome__wrapper {
    position: absolute;
    right: 10px;
    top: 35px;
    height: 105.7692307692%;
    text-align: right;
  }

  .welcome__socials {
    flex-direction: column;
    margin-top: 5em;
    margin-left: auto;
    padding: 20px;
  }

  .welcome__wrapper-phone {
    align-items: end;
    margin-bottom: 1.25em;
  }

  .welcome__cart {
    padding: 15px;
  }

  .welcome__cart.cart-btn::after {
    top: 16.6666666667%;
    right: 12.5%;
  }

  .catalog__item:nth-child(2) {
    margin-left: 100px;
  }

  .item-catalog__link {
    margin-left: auto;
  }

  .bouquets {
    background: url("../img/bouquets-bg.jpg") top right no-repeat;
  }          .webp .bouquets {            background: url("../img/bouquets-bg.webp") top right no-repeat          }                  .avif .bouquets {            background: url("../img/bouquets-bg.avif") top right no-repeat          }        

  .order__items {
    padding-right: 6.25rem;
    margin-left: 34.2342342342%;
  }

  .order__items::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #D978AC;
  }

  .occasion__text {
    text-transform: uppercase;
  }

  .contacts__socials {
    align-self: flex-end;
  }

  .contacts__elipse_turquoise_2 {
    width: 30%;
    height: 60%;
    left: 45%;
    bottom: -60%;
    -webkit-transform: rotate(21deg);
        -ms-transform: rotate(21deg);
            transform: rotate(21deg);
  }
}

@media (min-width: 62em) and (any-hover: hover) {
  .menu__item:hover {
    border-bottom: 1px solid var(--colorTurquoise);
  }
}

@media (min-width: 75em) {
  .slider-bouquets__wrapper {
    max-width: 69.375rem;
  }

  .bouquets-button-prev {
    left: -10px;
  }
}

@media (max-width: 62em) {
  .header__container {
    gap: inherit;
  }

  .menu__list {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }
}

@media (max-width: 74.99875em) {
  .slider-bouquets__wrapper {
    max-width: 45.9375rem;
  }
}

@media (max-width: 70.62375em) {
  .occasion__wrapper {
    justify-content: space-around;
  }

  .occasion__items {
    gap: 1.25rem;
    grid-template-columns: 15.9375rem 15.9375rem;
  }

  .occasion__item:nth-child(3) {
    justify-self: end;
    -webkit-transform: translateY(-4.6875rem);
        -ms-transform: translateY(-4.6875rem);
            transform: translateY(-4.6875rem);
  }

  .contacts__title-signature {
    left: 10px;
    top: 50px;
  }
}

@media (max-width: 61.99875em) {
  .policy {
    display: flex;
    flex-direction: column;
    font-size: 0.625rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #555555;
    text-transform: none;
    margin-top: 0.625em;
  }

  .header {
    font-size: 1rem;
  }

  .header._header-show .header__title {
    display: block;
  }

  .header__container {
    position: relative;
    gap: 1.875rem;
  }

  .header__title {
    font-family: var(--ffamilyCormorant);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    flex-grow: 1;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__logo.logo {
    width: 2.125rem;
  }

  .header__menu {
    position: absolute;
    -webkit-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
            transform: translateX(-105%);
    top: -10px;
    height: 100vh;
    padding: 12px;
    min-width: 16.25rem;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #000;
  }

  .header__menu .menu__link {
    display: block;
  }

  .header__search {
    margin: 10px 0;
    width: 200px;
  }

  .menu__list {
    flex-direction: column;
    row-gap: 0.3125rem;
  }

  .menu__list::after {
    content: "";
    width: 6.25rem;
    height: 0.0625rem;
    background-color: #555555;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    cursor: pointer;
    z-index: 3;
    margin-right: auto;
  }

  .burger span,
  .burger::before,
  .burger::after {
    content: "";
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--colorTurquoise);
  }

  .burger::before {
    top: 0px;
  }

  .burger::after {
    bottom: 0px;
  }

  .burger span {
    top: calc(50% - 1px);
  }

  .menu-open .burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .burger::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 0.5px);
  }

  .menu-open .burger::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer {
    padding: 1.875rem 0;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__item_subtitle:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .footer__socials {
    justify-content: center;
  }

  .welcome__address:not(:last-child) {
    margin-bottom: 0.625em;
  }

  .welcome__wrapper {
    width: 200px;
  }

  .welcome__wrapper-header {
    order: 1;
  }

  .welcome__wrapper-body {
    order: 3;
  }

  .welcome__wrapper-footer {
    order: 2;
  }

  .welcome__phone {
    color: var(--colorWhite);
    text-decoration: underline !important;
    margin: 0.625em 0 0 0;
  }

  .welcome__call {
    display: none;
  }

  .catalog__item {
    align-items: center;
  }

  .catalog__item:nth-child(1) {
    -webkit-transform: translatex(50px);
        -ms-transform: translatex(50px);
            transform: translatex(50px);
  }

  .catalog__item:nth-child(2) {
    grid-column: span 2;
  }

  .item-catalog {
    text-align: center;
  }

  .item-catalog__item {
    justify-content: center;
  }

  .bouquets-button-prev,
  .bouquets-button-next {
    display: none;
  }

  .order::after {
    content: "";
    display: block;
    position: absolute;
    width: 14.75rem;
    height: 10.8125rem;
    bottom: 0;
    left: 0;
    background: rgba(67, 255, 210, 0.5);
    -webkit-filter: blur(100px);
            filter: blur(100px);
    -webkit-transform: rotate(32.83deg);
        -ms-transform: rotate(32.83deg);
            transform: rotate(32.83deg);
  }

  .order__title-signature {
    bottom: -3.125rem;
  }

  .order__title {
    text-align: center;
    align-self: center;
  }

  .order__items {
    grid-template-columns: 1fr;
  }

@supports (margin-left: clamp( 9.375rem , 3.4226190476rem  +  29.7619047619vw , 21.875rem )) {
    .order__item:nth-child(1) {
      margin-left: clamp( 9.375rem , 3.4226190476rem  +  29.7619047619vw , 21.875rem );
    }
}

@supports not (margin-left: clamp( 9.375rem , 3.4226190476rem  +  29.7619047619vw , 21.875rem )) {
    .order__item:nth-child(1) {
      margin-left: calc(9.375rem + 12.5 * (100vw - 20rem) / 42);
    }
}

@supports (margin-top: clamp( 0.0000000625rem , -1.4880951458rem  +  7.4404760417vw , 3.125rem )) {
    .order__item:nth-child(2) {
      margin-top: clamp( 0.0000000625rem , -1.4880951458rem  +  7.4404760417vw , 3.125rem );
    }
}

@supports not (margin-top: clamp( 0.0000000625rem , -1.4880951458rem  +  7.4404760417vw , 3.125rem )) {
    .order__item:nth-child(2) {
      margin-top: calc(0.0000000625rem + 3.1249999375 * (100vw - 20rem) / 42);
    }
}

@supports (margin-left: clamp( 6.25rem , 1.7857142857rem  +  22.3214285714vw , 15.625rem )) {
    .order__item:nth-child(2) {
      margin-left: clamp( 6.25rem , 1.7857142857rem  +  22.3214285714vw , 15.625rem );
    }
}

@supports not (margin-left: clamp( 6.25rem , 1.7857142857rem  +  22.3214285714vw , 15.625rem )) {
    .order__item:nth-child(2) {
      margin-left: calc(6.25rem + 9.375 * (100vw - 20rem) / 42);
    }
}

@supports (margin-left: clamp( 3.125rem , -1.3392857143rem  +  22.3214285714vw , 12.5rem )) {
    .order__item:nth-child(3) {
      margin-left: clamp( 3.125rem , -1.3392857143rem  +  22.3214285714vw , 12.5rem );
    }
}

@supports not (margin-left: clamp( 3.125rem , -1.3392857143rem  +  22.3214285714vw , 12.5rem )) {
    .order__item:nth-child(3) {
      margin-left: calc(3.125rem + 9.375 * (100vw - 20rem) / 42);
    }
}

  .occasion__items {
    gap: 0.625rem;
    grid-template-columns: 15.9375rem;
  }

  .occasion__item:nth-child(3),
  .occasion__item:nth-child(4) {
    display: none;
  }

  .contacts__container {
    justify-content: center;
  }

  .contacts__socials {
    position: absolute;
    right: 10px;
  }

@supports (top: clamp( 5rem , 4.012345679rem  +  4.9382716049vw , 7.5rem )) {
    .contacts__socials {
      top: clamp( 5rem , 4.012345679rem  +  4.9382716049vw , 7.5rem );
    }
}

@supports not (top: clamp( 5rem , 4.012345679rem  +  4.9382716049vw , 7.5rem )) {
    .contacts__socials {
      top: calc(5rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}
}

@media (max-width: 47.99875em) {
  .header._header-show .header__phone {
    display: none;
  }

  .welcome__container {
    height: 85vh;
    gap: 1.25rem;
  }

  .welcome__title {
    flex-grow: 1;
  }

  .catalog__items {
    grid-template-columns: 1fr;
  }

  .catalog__item:nth-child(1) {
    display: none;
  }

  .catalog__item:nth-child(2) {
    grid-column: auto;
  }

  .slider-bouquets__wrapper {
    max-width: 22.1875rem;
  }

  .occasion__text {
    max-width: 28.4375rem;
  }

  .occasion__list {
    padding-left: 1.25rem;
  }

  .occasion__items {
    display: none;
  }

  .feedback {
    background: url("../img/leaves-bg_m.png") top right no-repeat, #0F2222;
  }          .webp .feedback {            background: url("../img/leaves-bg_m.webp") top right no-repeat, #0F2222          }                  .avif .feedback {            background: url("../img/leaves-bg_m.avif") top right no-repeat, #0F2222          }        

  .feedback__title-signature {
    display: none;
  }

  .form-feedback {
    margin-top: 6.25rem;
  }

  .form-feedback__text::before {
    width: 50%;
    margin-bottom: 1.25rem;
  }

  .contacts__gallery {
    grid-template-columns: repeat(3, 160px);
  }
}

@media (max-width: 29.99875em) {
  .footer__body {
    flex-direction: column;
  }

  .footer__item_subtitle {
    display: none;
  }

  .occasion__btn {
    margin-left: auto;
    margin-right: 1.875rem;
  }

  .occasion__btn span {
    right: -1.5625rem;
    -webkit-transform: matrix(0, 1, 1, 0, 0, 0) rotate(-95deg);
        -ms-transform: matrix(0, 1, 1, 0, 0, 0) rotate(-95deg);
            transform: matrix(0, 1, 1, 0, 0, 0) rotate(-95deg);
  }

  .contacts__gallery {
    grid-template-columns: repeat(2, 147px);
  }
}

@media (max-width: 61.99875em) and (min-width: 62em) {
  .order__item:nth-child(1) {
    margin-left: inherit;
  }

  .order__item:nth-child(2) {
    margin-top: inherit;
  }

  .order__item:nth-child(2) {
    margin-left: inherit;
  }

  .order__item:nth-child(3) {
    margin-left: inherit;
  }
}

@media (min-width: 48em) and (max-width: 47.99875em) {
  .feedback__title-signature {
    top: 20%;
    right: 0%;
    left: auto;
  }
}

@media (any-hover: hover) {
  a[href]:not(.view-catalog, .btn-turquoise):hover {
    color: var(--colorSkyMagenta);
  }

  a.view-catalog:hover {
    color: var(--colorTurquoise);
  }

  .btn-turquoise:hover {
    background-color: var(--colorDarkRaspberry);
    color: var(--colorWhite) !important;
  }

  .btn-cart:hover {
    border: 0.5px solid transparent;
    color: var(--colorBlack);
    background-color: var(--colorTurquoise);
  }

  .menu__link:hover {
    color: var(--colorTurquoise) !important;
  }

  .welcome__call:hover {
    color: var(--colorSkyMagenta);
  }

  .bouquets-button-prev:hover,
  .bouquets-button-next:hover {
    color: var(--colorSkyMagenta);
  }

  .occasion__btn:hover > span {
    color: var(--colorDarkRaspberry);
  }
}