.bouquets {
  position: relative;
  @include adaptiveValue("margin-top", 200, 100);
  @include media-breakpoint-up(tablet){
    background: url("@img/bouquets-bg.jpg") top right no-repeat;
  }
  &__elipse_turquoise{
    width: percent(714, 1920);
    height: percent(760, 1920);
    left: percent(161, 1920);
    top: percent(1065, 1920);
    transform: rotate(32.6deg);
    border-radius: 50%;
  }
  &__elipse_darkraspberry{
    width: percent(571, 1920);
    height: percent(396, 1920);
    top: percent(1300, 1920);
    left: percent(761, 1920);
    transform: rotate(-32.6deg);
  }
  // .bouquets__container
  &__container {
  }
  // .bouquets__title
  &__title {
    max-width: em(780,100);
    span{
      display: block;
      text-align: right;
    }
  }
  // .bouquets__text
  &__text {
    text-align: center;
    margin-top: em(10,20);
  }
  // .bouquets__slider
  &__slider {
  }
  // .bouquets__swiper
  &__swiper {
  }
  // .bouquets__slide
  &__slide {
    margin-top: 10px;
  }
  // .bouquets__link
  &__link {
    display: flex;
    align-items: center;
    width: fit-content;
    @include adaptiveValue("margin-top", 80, 40);
    .arrow-right{
      margin-left: 5px;
    }
  }
}
.slider-bouquets {
  position: relative;
  max-width: 1310px;
  margin: 0 auto 0 auto;
  @include adaptiveValue("margin-top", 80, 25);
  &__wrapper{
    margin: 0 auto;
    padding-right: rem(20);
    @include media-breakpoint-up(laptop-xl){
      max-width: rem(1130);
    }
    @include media-breakpoint-down(laptop-xl){
      max-width: rem(735);
    }
    @include media-breakpoint-down(mobile){
      max-width: rem(355);
    }
  }
// .slider-bouquets__swiper
  &__swiper {
  }
  // .slider-bouquets__slide
  &__slide {
    text-transform: uppercase;
    width: rem(350) !important;
  }
  // .slider-bouquets__label
  &__label {
  }
  // .slider-bouquets__img-block
  &__img-block {
    position: relative;
  }
  // .slider-bouquets__title
  &__title {
    font-size: rem(20);
    margin-top: 10px;
  }
  // .slider-bouquets__price
  &__price {
    font-weight: 700;
    margin-top: 10px;
    s{
      font-weight: 300;
      color: #939393;
      margin-left: em(5,14);
    }
  }
  // .slider-bouquets__btn-cart
  &__btn-cart {
    margin-top: 20px;
    padding: 16px 76px;
  }
}
.bouquets-button-prev,
.bouquets-button-next {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 2;
  cursor: pointer;
  padding: 10px 5px;
  color: var(--colorTurquoise);
  transition: color .3s;
  @media (any-hover: hover){
    &:hover{
      color: var(--colorSkyMagenta);
    }
  }
  @include media-breakpoint-down(tablet){
    display: none;
  }
}
.bouquets-button-prev {
  @include media-breakpoint-up(laptop-xl){
    left: rem(-20);
  }
}
.bouquets-button-next {
  right: 0;
}