// Заголовки, общие БЄМ блоки и проче...
a{
  transition: all 0.3s ease 0s;
}
h1{
  font-weight: 400;
}
h1,h2{
  font-family: var(--ffamilyCormorant);
  text-transform: uppercase;
}
h2{
  @include adaptiveValue("font-size", 100, 40);
  font-weight: 400;
  line-height: math.div(110, 100);
  letter-spacing: 0.02em;
}
.title-signature{
  position: absolute;
  font-family: Relative;
  font-weight: 400;
  @include adaptiveValue("font-size", 160, 60);
  line-height: math.div(70, 160);
  text-transform: capitalize;
  user-select: none;
}
.menu-open .overlay{
	opacity: 1;
	visibility: visible;
}
.overlay{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	opacity: 0;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	@supports(backdrop-filter: blur(var(--blur))){
		background-color: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(var(--blur));
	}
	@supports not(backdrop-filter: blur(var(--blur))){
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.phone{
	display: flex;
	align-items: center;
	color: var(--colorTurquoise);
}
.logo{
  position: relative;
  display: block;
  flex: 0 0 rem(34);
  height: rem(60);
  font-family: var(--ffamilyCormorant);
  font-weight: 300;
  text-transform: uppercase;
  &__f{
    position: absolute;
  }
  &__l{
    font-size: rem(60);
    color: #8A8686;
  }
  &__f{
    left: percent(8, 34);
    top: percent(15, 60);
    font-size: rem(50);
  }
}
.elipse-blur{
  position: absolute;
  z-index: -1;
  border-radius: 100px/50px;
  transform-style: preserve-3d;
  filter: blur(100px);
  &_turquoise{
    background: #249479;
  }
  &_darkraspberry{
    background: #7D2253;
  }
}
.text{
  @include adaptiveValue("font-size", 20, 14);
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: math.div(30, 20);
}
.btn-turquoise{
  font-size: rem(12);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #000;
  background-color: var(--colorTurquoise);
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      background-color: var(--colorDarkRaspberry);
    }
}  &:active{
    transition: none;
    background-color: var(--colorDarkRaspberry);
    box-shadow: inset 0px 0px 10px #1B000E;
  }
}
.btn-cart{
  font-size: rem(12);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: $colorWhite;
  border: 0.5px solid $colorWhite;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      border: 0.5px solid transparent;
      color: $colorBlack;
      background-color: var(--colorTurquoise);
    }
  }
  &.focus-visible{
    border: 0.5px solid transparent;
    outline: 0.5px solid $colorTurquoise;
  }
  &:active{
    transition: none;
    background-color: $colorTurquoise;
    box-shadow: inset 0px 0px 10px #01281F;
  }
}
.bg-blur{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(var(--blur));
}
.policy{
  display: none;
  @media(max-width: $tablet){
    display: flex;
    flex-direction: column;
    font-size: rem(10);
    line-height: math.div(15, 10);
    letter-spacing: 0.04em;
    color: #555555;
    text-transform: none;
    margin-top: em(10);
    }
}
.view-catalog{
  font-size: rem(12);
  font-weight: 700;
  line-height: math.div(18, 12);
  letter-spacing: 0.1em;
  text-decoration-line: underline !important;
  text-transform: uppercase;
  color: $colorMagenta;
  padding: em(5,12);
  margin: em(-5,12);
}
.relevance-label {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(20);
  font-weight: 300;
  color: $colorBlack;
  text-transform: uppercase;
  border-radius: 50%;
  width: rem(60);
  height: rem(60);
  letter-spacing: 0.02em;
  &_new{
    background-color: #D978AC;
  }
  &_sale{
    background-color: #31985A;
  }
}