// Заголовки, общие БЄМ блоки и проче...
a{
  transition: all 0.3s ease 0s;
}
.logo{
  position: relative;
  display: block;
  flex: 0 0 rem(34);
  height: rem(60);
  font-family: var(--ffamilyCormorant);
  font-weight: 300;
  text-transform: uppercase;
  &__f{
    position: absolute;
  }
  &__l{
    font-size: rem(60);
    color: #8A8686;
  }
  &__f{
    left: percent(8, 34);
    top: percent(15, 60);
    font-size: rem(50);
  }
}