.contacts {
  position: relative;
  min-height: rem(619);
  // .contacts__container
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: rem(200);
  }
  // .contacts__gallery
  &__gallery {
    position: relative;
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(4, 160px);
    &::after{
      content:attr(data-text);
      position: absolute;
      z-index: -2;
      top: -20px;
      left: -120px;
      text-transform: uppercase;
      transform: translateZ(-1px);
      font-size: rem(200);
      font-weight: 700;
      color: #0A1717;
    }
  }
  // .contacts__gallery-item
  &__gallery-item {
  }
  // .contacts__title-signature
  &__title-signature {
    position: absolute;
    right: 50px;
    top: 130px;
    text-transform: lowercase;
    @include adaptiveValue("max-width", 305, 134);
    &::before{
      content:'';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      @include adaptiveValue("width", 350, 100);
      height: rem(1);
      background-color: var(--colorTurquoise);
    }
  }
  &__socials{
    align-self: flex-end;
    gap: rem(30);
    &>.socials__item{
      @include adaptiveValue("width", 40, 20);
      @include adaptiveValue("height", 40, 20);
    }
  }
  &__elipse_turquoise_1{
    width: 15%;
    height: 20%;
    left: -10%;
    bottom: -10%;
    transform: rotate(21deg);
  }
  @include media-breakpoint-up(tablet){
    &__elipse_turquoise_2{
      width: 30%;
      height: 60%;
      left: 45%;
      bottom: -60%;
      transform: rotate(21deg);
    }
  }
  &__elipse_darkraspberry{
    width: 20%;
    height: 40%;
    right: -5%;
    bottom: -10%;
    transform: rotate(32deg);
  }
}