.header{
	&._header-scroll{
		transform: translateY(-100px);
	}
	&._header-show{
		position: fixed;
		background-color: var(--colorBlack);
		transform: translateY(0);
		transition: transform .3s ease 0s;
	}
	&._header-show .header__phone{
		display: block;
		@media(max-width: $mobile){
			display: none;
		}
	}
	&._header-show .cart-btn{
		display: none;
	}
	&._header-show .header__cart{
		display: block;
	}
	&._header-show .submenu{
		display: block;
	}
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	padding: 10px 0;
	@media(max-width: $tablet){
		&._header-show .header__title{
			display: block;
		}
		font-size: rem(16);
	}
	&__container{
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 50, 30, $containerWidth, 992);
		text-transform: uppercase;
		@media(max-width: $tablet){
			position: relative;
			gap: rem(30);
		}
	}
	&__title{
		display: none;
		@media(max-width: $tablet){
			font-family: var(--ffamilyCormorant);
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			font-size: rem(20);
			flex-grow: 1;
		}
	}
	&__logo{
		margin-top: -10px;
		margin-right: 30px;
		line-height: 1;
		@media(max-width: $tablet){
			margin-right: auto;
			&.logo{
				width: rem(34);
			}
		}
	}
	&__menu{
		@media(max-width: $tablet){
			position: absolute;
			transform: translateX(-105%);
			top: -10px;
			height: 100vh;
			padding: 12px;
			min-width: rem(260);
			overflow: auto;
			transition: all 0.5s ease 0s;
			background-color: #000;
			& .menu__link{
				display: block;
			}
		}
	}
	&__search{
		flex: 0 1 200px;
		@media(max-width: $tablet){
			margin: 10px 0;
			width: 200px;
		}
	}
	&__phone{
		display: none;
		flex: 0 0 auto;
		&>.phone2{
			margin: 0 em(10,14) 0 0;
		}
	}
	&__cart{
		display: none;
		margin-right: 9px;
	}
}
.menu-open .header__menu{
	left: 0;
	transform: translateX(0);
}
.menu{
	flex: 0 0 auto;
	&__list{
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 50, 30, $containerWidth, 992);
		row-gap: 5px;
		@media(max-width: $tablet){
			flex-direction: column;
			row-gap: rem(5);
			&::after{
				content:'';
				width: rem(100);
				height: rem(1);
				background-color: #555555;
			}
		}
	}
	&__item{
		position: relative;
		@include media-breakpoint-up(tablet){
			min-height: rem(50);
			display: flex;
			align-items: center;
			@media (any-hover: hover){
				&:hover{
					& .submenu{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		&_client{
			@include media-breakpoint-up(tablet){
				display: none;
			}
		}
	}
	&__link{
		@include media-breakpoint-up(tablet){
			transition: color .3s, border .3s;
			border-bottom: 1px solid transparent;
			@media (any-hover: hover){
				&:hover{
					color: var(--colorTurquoise) !important;
					border-bottom: 1px solid var(--colorTurquoise);
				}
			}
		}
	}
}
.submenu{
	@include media-breakpoint-up(tablet){
		display: none;
		position: absolute;
		top: rem(60);
		left: rem(-20);
		opacity: 0;
		transition: opacity .7s, visibility .7s;
		visibility: hidden;
		background-color: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(20px);
		padding: rem(10) rem(20);
		width: rem(260);
	}
	&__item{
		@include media-breakpoint-up(tablet){
			&:not(:last-child) {
				margin-bottom: rem(4);
			}	
		}
	}
	&__link{
		@include media-breakpoint-up(tablet){
			display: block;
			width: 100%;	
		}
	}
}
.search-header{
	display: flex;
	position: relative;
	align-items: center;
	&__btn{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		margin-left: -5px;
	}
	&__input{
		flex-grow: 1;
		padding: 3px 0 3px rem(30);
		background-color: transparent;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease 0s;
		caret-color: #006BA9;
		text-transform: uppercase;
		&.focus-visible{
			outline: none;
			border-bottom: 1px solid #555555;
		}
		&::placeholder{
			text-transform: none;
			letter-spacing: 0.02em;
		}
		&::-webkit-search-cancel-button{
			appearance: none;
			cursor: pointer;
			width: rem(20);
			height: rem(20);
			background: url('../img/close.svg') no-repeat 50% 50%;
		}
	}
}

//Burger
.menu-open .burger{
	transform: translateX(200px);
	z-index: 6;
}
.burger {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		transition: all 0.5s ease 0s;
		transform: translateX(0);
		cursor: pointer;
		z-index: 3;
		margin-right: auto;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.7s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: var(--colorTurquoise);
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 0.5px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
