.welcome{
  position: relative;
  min-height: 100vh;
  background: url("@img/flowers-bg.jpg") center / cover no-repeat;
  &::before,&::after{
    content:'';
    position: absolute;
    z-index: 0;
    filter: blur(100px);
  }
  &::before{
    width: percent(359, 1920);
    height: percent(493, 1920);
    left: percent(161, 1920);
    top: percent(665, 1920);
    background: #249479;
    transform: rotate(41.6deg);
  }
  &::after{
    width: percent(472, 1920);
    height: percent(211, 1920);
    top: percent(600, 1920);
    right: percent(200, 1920);
    background: #7D2253;
    transform: rotate(-43.21deg);
  }
  &__title-signature{
    right: rem(20);
    bottom: rem(20) !important;
  }
  &__container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include adaptiveValue("padding-top", 150, 20);
    gap: rem(50);
    @media(max-width: $mobile){
      height: 85vh;
      gap: rem(20);
    }
  }
  &__title{
    @include adaptiveValue("font-size", 200, 50);
    letter-spacing: 0.2em;
    line-height: 0.75;
    @media(max-width: $mobile){
      flex-grow: 1;
    }
  }
  &__btn{
    padding: 16px 50px;
  }
  &__address{
    &:not(:last-child) {
      margin-bottom: em(20);
      @media(max-width: $tablet){
        margin-bottom: em(10);
      }
    }
  }
  &__wrapper{
    margin-top: em(20);
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @include media-breakpoint-up(tablet){
      position: absolute;
      right: 10px;
      top: 35px;
      height: percent(660, 624);
      text-align: right;
    }
    @include media-breakpoint-down(tablet){
      width: 200px;
    }
    &-header{
      @media(max-width: $tablet){
        order: 1;
      }
    }
    &-body{
      flex: 1 0 auto;
      @media(max-width: $tablet){
        order: 3;
      }
    }
    &-footer{
      &:not(:last-child) {
        margin-bottom: em(20);
      }
      @media(max-width: $tablet){
        order: 2;
      }
    }
  }
  &__socials{
    align-items: center;
    width: fit-content;
    margin-top: em(10);
    @include media-breakpoint-up(tablet){
      flex-direction: column;
      margin-top: em(80);
      margin-left: auto;
      padding: 20px;
    }
  }
  &__wrapper-phone{
    display: flex;
    flex-direction: column;
    font-size: rem(16);
    letter-spacing: 0.1em;
    color: var(--colorTurquoise);
    @include media-breakpoint-up(tablet){
      align-items: end;
      margin-bottom: em(20);
    }
  }
  &__phone{
    margin-bottom: em(7);
    @media(max-width: $tablet){
      color: var(--colorWhite);
      text-decoration: underline !important;
      margin: em(10) 0 0 0;
    }
  }
  &__call{
    & .phone2{
      margin-right: em(8);
    }
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: rem(14);
    letter-spacing: 0.1em;
    @media(max-width: $tablet){
      display: none;
    }
  }
  &__cart{
    margin-right: 5px;
    &.cart-btn{
      &::after{
        top: percent(-4, 30);
        right: percent(-8, 30);
      }
    }
    @include media-breakpoint-up(tablet){
      padding: 15px;
      &.cart-btn{
        &::after{
          top: percent(10, 60);
          right: percent(8, 64);
        }
      }
    }
  }
}
.address{
  &__title{
    color: var(--colorTurquoise);
    letter-spacing: 0.1em;
  }
  &__sub-title{
    font-size: rem(10);
    font-weight: 300;
    line-height: math.div(15, 10);
    color: var(--colorWhite);
    margin-top: em(8);
  }
}
.socials{
  display: flex;
  gap: rem(20);
  &__item{
    display: flex;
    color: var(--colorTurquoise);
    transition: all .3s ease 0s;
    &:hover{
      color: var(--colorDarkRaspberry);
    }
  }
}
.menu-open .welcome__cart{
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease 0s;
}