extends html/_base
include html/_mixins
block vars
	- var lang = 'ru'
	- var type = 'website'
	- var title = 'Главная | LoverFlower'
	- var description = 'Цветочный магазин'
	- var siteName = 'LoverFlower'
	- var keywords = 'lover flower loverflower lf цветы магазин'
	- var url = 'https://tirozit.github.io/LoverFlower/home.html'
	- var imageLogo = 'https://tirozit.github.io/LoverFlower/img/flowers-bg.jpg'
	- var typeImage = 'image/jpeg'
	- var widthImage = '1200'
	- var heightImage = '630'
	- var favicon = 'img/favicons/favicon.png'
	- var font = 'fonts/Oswald-Regular.woff2'
	- var light = ''
	- var dark = ''
block content
	.wrapper
		.overlay
		include html/_header
		main.page
			include html/welcome
			include html/catalog
			include html/bouquets
			include html/order
			include html/occasion
			include html/feedback
			include html/contacts
		include html/_footer